*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#game{
    text-align: center;
    border: 1px solid black;
    margin: 50px 400px;
    background-color: #f2e394;
}

#blue{
    margin-bottom: 30px;
}
#red{
    margin-top: 0px;
    background-color: #588c7e;
}

h2{
    font-size: 35px;
    color: #ebe2b4;
}
h3{
    margin-bottom: 20px;
}
#green{
    border-radius: 12px;
    background-color: #f2ae72; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    transition-duration: 0.4s;
}
#green:hover{
    background-color: #d96459; /* Green */
    color: white;
}
#text{
    border: 3px solid whitesmoke;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}